body{
    background-color: rgb(156, 75, 231);
    font-size: 20px;
}

header{
    color: white;
    text-align: center;
    font-size: 25px;
}

footer{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 15px;
    width: 700px;
    margin: auto;
    padding: 35px;
}

div{
    text-align:left;
    padding: 5px;
    font-size: 30px;
}

.entrada{
    width: 120px;
    height: 25px;
}

.botao{
    width: 150px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

